[submodule "submodules/libopencm3"]
	path = submodules/libopencm3
	url = https://github.com/libopencm3/libopencm3.git
[submodule "submodules/BME280_driver"]
	path = submodules/BME280_driver
	url = https://github.com/boschsensortec/BME280_driver.git
[submodule "submodules/FreeRTOS-Kernel"]
	path = submodules/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "submodules/doctest"]
	path = submodules/doctest
	url = https://github.com/doctest/doctest.git
